@import '../bourbon/bourbon';
$max-width: em(700);
@import '../base/base';
@import '../neat/neat';

@include font-face("Fanwood Text", "/fonts/fanwood_text");

$gray: #bebebe;
$dark-gray: #767676;
$geek: #7070BB;
$geek-light: #F2F2FD;
$travel: #A3AE8B;
$beer: #9E775A;
$beer-light: #FAF4EF;

$belgium: red;
$south-africa: #83B270;

$breakpoint: 600px;

body {
  margin: 0;
}

a:link, a:visited {
  color: rgb(51, 51, 51);
}

a.site-title {
  display: block;
  text-align: center;
  color: $gray;
  padding: 10px;
}

a.previous-posts {
  display: block;
  text-align: center;
  text-decoration: underline;
}

.post {
  font-family: "Fanwood Text", Cambria,"Times New Roman",Times,serif;
  font-weight: 300;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    margin: 5px 0;
    &.bordered {
      border: 3px solid #EEE;
    }
  }
}

.post-title {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px #404040;

  a, a:visited {
    color: white;
  }
  h1 {
    font-size: 84px;

    @media (max-width: $breakpoint) {
      font-size: 36px;
    }
  }
}

.previous-posts {
  @include outer-container;
  margin-bottom: 10px;

  h2 {
    text-decoration: underline;
    text-align: center;
  }

  @media (max-width: $breakpoint) {
    padding: 0 20px;
  }
}

.previous-post {
  display: block;
  position: relative;
  font-size: 2em;
  font-weight: 200;

  @media (max-width: $breakpoint) {
    font-size: 1em;
  }

  &:hover {
    text-decoration: underline;

    .posted {
      text-decoration: none;
    }
  }

  .posted {
    display: inline-block;
    font-size: 0.5em;
    color: gray;
    margin-left: 15px;
    line-height: 10px;
  }
}

.body-text {
  @include outer-container;
  text-align: left;

  @media (max-width: $breakpoint) {
    text-align: justify;
  }

  p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 10px 0;

    a {
      text-decoration: underline;
    }

    @media (max-width: $breakpoint) {
      padding: 0 20px;
    }
  }
}

.image-src {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#disqus_thread {
  @include outer-container;

  @media (max-width: $breakpoint) {
    padding: 0 20px;
  }
}

.tags {
  @include outer-container;
  text-align: left;

  @media (max-width: $breakpoint) {
    padding: 0 20px;
  }

  span, a {
    font-size: 1.4em;
    color: $gray;
    margin-right: 10px;

    &.geek { color: $geek; }
    &.travel { color: $travel; }
    &.beer { color: $beer; }
  }
}

footer {
  margin-bottom: 30px;
}

blockquote {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  text-align: center;
  font-style: italic;
  color: $gray;

  a, a:visited, a:link {
    color: $dark-gray;
    text-decoration: underline;
  }
}

hr {
  width: 80px;
  margin: 40px auto;
}

.caption {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: $gray;
}

.comment-header {
  text-align: center;
  font-weight: 200;
  margin-top: -10px;
  margin-bottom: 10px;
}

.country {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 10px 0;

  .left-column {
    width: 29px;
  }

  .right-column {
    border-left: 4px solid;
    padding: 0 10px;
  }

  .country-name {
    font-size: 1.5em;
    font-weight: 800;
    line-height: 25px;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: translateX(-85px) rotate(-90deg);
    transform-origin: 50% 50%;
    transform: translateX(-85px) rotate(-90deg);
    width: 200px;
    text-align: center;
  }

  &.south-africa {
    border-color: $south-africa;
    color: $south-africa;

    a {
      color: $south-africa;
    }
  }

  &.belgium {
    border-color: $belgium;
    color: $belgium;

    a {
      color: $belgium;
    }
  }
}

.gallery {
  @include outer-container;

  .gallery-header {
    text-align: center;
    font-size: 2em;
    font-weight: 200;

    &.south-africa {
      color: $south-africa;
    }

    &.belgium {
      color: $belgium;
    }
  }

  .picture {
    height: 165px;
    width: 24%;
    margin: 0.5%;
    background-position: 50% 25%;
    background-size: cover;
    float: left;

    @media (max-width: $breakpoint) {
      width: 100%;
      height: 200px;
    }
  }
}

.site-links {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
  width: 410px;
  margin: 0 auto 10px;

  li {
    display: inline-block;

    &:first-child {
      border-right: 2px solid $dark-gray;
    }
  }

  a {
    display: inline-block;
    width: 200px;

    &.active {
      font-weight: 800;
    }

    &:hover {
      background: $gray;
      color: white;
    }
  }
}

@media (max-width: $breakpoint) {
  .collapsible-section {
    position: relative;
    &:before {
      position: absolute;
      top: 30px;
      width: 200px;
      transform: rotate(-90deg);
      transform-origin: 100% 0;
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: 100% 0;
      transition: all 1s;
      text-align: right;
      font-size: 4em;
      right: 50%;
      margin-right: 48px;
      z-index: 0;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-weight: 800;
      opacity: 0.2;
    }

    &.beer:before {
      content: '#beer';
      color: $beer;
    }

    &.beer {
      background: $beer-light;
    }

    &.geek:before {
      content: '#geek';
      color: $geek;
    }

    &.geek {
      background: $geek-light;
    }
  }
}
@media (min-width: $breakpoint) {
  .collapsible-section {
    position: relative;

    &:before {
      content: '';
      border-left: 3px solid;
      position: absolute;
      height: 100%;
      left: -10px;
    }

    &:after {
      position: absolute;
      top: 0;
      left: -255px;
      transform: rotate(-90deg);
      transform-origin: 100% 0;
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: 100% 0;
      width: 200px;
      text-align: right;
      font-size: 2em;
    }

    &.beer:before {
      border-color: $beer;
    }

    &.geek:before {
      border-color: $geek;
    }

    &.beer:after {
      color: $beer;
      content: '#beer';
    }

    &.geek:after {
      color: $geek;
      content: '#geek';
    }

  }
}
