@import '../bourbon/bourbon';
$max-width: em(700);
@import '../base/base';
@import '../neat/neat';


$gray: #bebebe;
$geek: #7070BB;
$travel: #A3AE8B;
$beer: #9E775A;
$breakpoint: 600px;

body {
  margin: 0;
}

a:visited {
  color: rgb(51, 51, 51);
}

a.site-title {
  display: block;
  text-align: center;
  color: $gray;
  padding: 10px;
}

a.previous-posts {
  display: block;
  text-align: center;
  text-decoration: underline;
}

.post {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    margin: 5px 0;
    &.bordered {
      border: 3px solid #EEE;
    }
  }
}

.post-title {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #aaa;

  h1 {
    font-size: 84px;

    @media (max-width: $breakpoint) {
      font-size: 36px;
    }
  }
}

.previous-posts {
  @include outer-container;
  margin-bottom: 10px;

  h2 {
    border-bottom: 1px solid rgb(51, 51, 51);
  }
}

.previous-post {
  display: block;
  position: relative;
  font-size: 2em;
  font-weight: 200;

  &:hover {
    text-decoration: underline;

    .posted {
      text-decoration: none;
    }
  }

  .posted {
    display: inline-block;
    font-size: 0.5em;
    color: gray;
    margin-left: 15px;
  }
}

.body-text {
  @include outer-container;
  text-align: left;

  p {
    font-size: 1.4em;
    line-height: 1.5em;

    @media (max-width: $breakpoint) {
      padding: 0 10px;
    }
  }
}

.image-src {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tags {
  @include outer-container;
  text-align: left;
  margin-bottom: 30px;

  span, a {
    font-size: 1.4em;
    color: $gray;
    margin-right: 10px;

    &.geek { color: $geek; }
    &.travel { color: $travel; }
    &.beer { color: $beer; }
  }
}

.geek { color: $geek; }
.travel { color: $travel; }
.beer { color: $beer; }
