---
title: Belgium in General
header_image: 'belgium/39.jpg'
kind: article
posted: 2015/02/04
tags: ['travel', 'geek', 'beer']
country: 'Belgium'
---

.body-text
  %p
    Before I wrap up on Belgium there are a couple of things I'd like to mention that didn't really fit into any of the city posts, things I've noticed and found interesting as we've gone along. Having left the country now the differences between Belgium and Germany are quite interesting. I'm also beginning to get a feel for what is Belgian and what's European. I'm sure that sense will evolve as we travel further. Heads up, I don't have pictures for this post.
  %p
    I think the first bunch of realisations are around the climate. Being as cold as it is in Europe the houses are much better prepared for cold weather. I've mentioned before that the houses are heated by radiators but after some exploring and asking some questions I discovered that the places we stayed had one central gas powered boiler that heated both radiator water and water for the taps. The radiator circuit is closed but obviously the hot water going to the taps is an open circuit and the boiler works very similarly to a gas water heater in South Africa. The hot water ran out at the first apartment but didn't seem to run out at Oom Pieter's place. Each house had a municipal gas line and after being scared witless by movies and popular media I've come to the conclusion that a municipal gas system is wonderful.
  %p
    Doors really serve as insulators from the cold both inside and out. As most rooms have their own radiator you can create an effective heat bubble by closing the door of a room. Most of the time in the apartment we stayed at the doors were closed. Passages weren't heated so it made sense to keep the heat inside each room by keeping the door closed.
  %p
    The cold is one thing but the short days are another thing all together. The fact that the sun only rises after 8am at the moment and sets at 5h30pm makes the days deceptively shorter. Often we'll feel like we're just getting going for the day and we'll realise it's 11h30am already. The evenings also confuse one. While the sun <i>sets</i> at 5h30pm twilight arrives well before that. I'll be ready for bed by 8pm most nights simply because my brain tells me it's much later than that. It doesn't help that I've had my laptop clock set to SA time for work which is an hour ahead of us. The nights feel a lot longer than at home and for good reason. We're getting 2 extra hours per evening of darkness. I think this had lead to our hibernation instincts kicking in. It's mostly worn off now but we would regularly be in bed, if not asleep, but 8pm most nights. I feel so old.
  .collapsible-section.geek
    %p
      This all has an impact on working remotely. I can tell you emphatically that working remotely from an actual remote location requires a lot more discipline than working remotely from home. The first place we stayed we rented only a room and I had to work in a communal area. I almost never sat down before 11am and often I'd simply feel too awkward to remain at the table. I've taken to working nights now and weekend evenings too. Luckily we're currently very flexible with work hours and we haven't needed to be online at the same time so it's worked out. Belgium's internet in general has been great though. I didn't see less than 20mbps on a fixed WiFi connection and the had mostly 4G while moving about.
  .collapsible-section.beer
    %p
      Belgium's beer variety is also unbelievable and I can draw many parallels between it and South Africa's burgeoning craft beer scene. I managed to taste 5 out of the 6 Trappist beers on offer in Belgium and I'll get the next when we go back before leaving. So far it's completely outclassed Germany. I'll leave tales of Germany's beers for the German posts coming soon. Suffice to say Belgium's reputation for being a land of beer is well earned.
  %p
    Schools in Belgium don't offer sport and continue until 4pm. That means the kids are getting home just before sunset in winter. On Wednesday's Oom Pieter's kids' schools close early. They separate the kids into different schools with two years being covered by each.
  .collapsible-section.geek
    %p
      A final thing I want to mention briefly are the sirens. If you imagine what a police car in Paris would sound like you know the sound I'm talking about. It's a very tiny, simple sound. Bee Baa Bee Baa. The sirens are much more susceptible to the <a href='http://en.wikipedia.org/wiki/Doppler_effect'>Doppler effect</a>. I suspect this is intentional so you know whether the emergency vehicle is approaching or moving away from you. It's an interesting effect and very pronounced.
  %hr
  %p
    That's it for Belgium. This post has been sort of a brain dump but these are the sort of things I wanted to come to Europe to experience, to see <i>how</i> people live here. I hope some of our readers found them interesting too.
