---
title: Berlin
header_image: 'germany/15.jpg'
kind: article
posted: 2015/02/16
tags: ['travel']
country: 'Germany'
---

.body-text
  %p
    Berlin! That's where we were headed when I last left off. But the journey from Cologne to Berlin is a story in and of itself...
  %p
    Last time I mentioned that Thomas, an old friend of <a href='http://ctyc.co.za'>CTYC</a>, had offered to give us a lift to Berlin on his way to see the <a href='http://www.sdtb.de/Englisch.55.0.html'>German Museum of Technology</a>. We left early in the day, pulling out onto the motorway at 9am. It was snowing lightly and was the first snowfall we were outside for. The snow melted as soon as it touched the ground but it was delightful.
  = video('/videos/germany/02.mp4', '/images/germany/20.jpg')
  %p
    A little way outside of Cologne we started seeing snow that hadn't melted. We got excited and Thomas chuckled at us telling us that wasn't really snow. We might get lucky and see some along the way. It didn't take long before we were driving in heavy snowfall. We became acquainted with Germany's winter services, specifically the snow trucks that clear the ice from the roads and spray salt water to prevent snow freezing again. I wondered how many trucks there were out on the roads. There must be a huge force to cover the vast expanse of Germany's motorways.
  %p
    Some time little later we decided to take a scenic route that would give us a some great views over a forested national park (I think. Correct me if I'm wrong Thomas!). This meant leaving the major motorway and veering off onto a smaller road. Thomas' car had satnav that updated it's route and trip duration estimation based on traffic. When we chose the scenic route the distance was a little further than the main motorway but the estimated duration didn't seem that much longer. We were also hoping for lighter traffic on the alternative route. Sadly this wasn't to be.
  %img{src: '/images/germany/09.jpg'}
  .caption Our first attempt at a snow man
  %p
    We stopped every couple of hours to refresh ourselves. At our first stop Karin and I couldn't help playing with the snow. We did what came naturally: we threw it at each other. We didn't want to take too long as we didn't want to prolong the journey but we couldn't prevent ourselves from having some fun.
  = video('/videos/germany/03.mp4', '/images/germany/21.jpg')
  .caption Doing what comes naturally
  %p
    A couple of hours away from the motorway we came upon some queued traffic. It was snowing quite heavily. The road we were on only had one lane in each direction and there was a stationery snow truck in on each side. There was no way around. We sat for about twenty minutes before someone behind us attempted to make a u-turn and slid out of control and blocked that option for us. We joked about how we might be stuck but at least we had food, water and good music. We'd been listening to Coldplay and classical music all morning.
  %p
    Eventually the car that had slipped behind us made it out and we made our turn around manoeuvre without incident. It took us a little time to get back to a motorway but with three or four lanes in each direction and multiple snow trucks we could travel on at around 80km/h instead of a round 0km/h. The night before Google maps had estimated the journey to take about 6 hours. We eventually arrived at our apartment 12 hours after leaving Cologne.
  %hr
  %img{src: '/images/germany/10.jpg'}
  .caption The cars got cold at night so they all donned their snow blankets
  %p
    We found Berlin to be quite depressing. Perhaps it was the part we were staying in or perhaps it was because our tourism focussed on the <a href='http://en.wikipedia.org/wiki/Berlin_Wall'>Berlin Wall</a> and Berlin's war history. Whatever the case I really started struggling with morale on Berlin. While we have many fairytale moments on this trip I want to tell everyone that it's not all sunshine and roses. We're living on a much tighter budget than at home and we're constantly worrying about where we'll be going next. While the freedom is liberating I never thought it would be so stressful. I think that a planned tour through someone like <a href='http://en.wikipedia.org/wiki/Berlin_Wall'>Contiki</a> or a travel agency would be preferable for most people. We didn't want to go on a tour though, we wanted to live in Europe. While it probably would have been easier to stay in one place for the duration of our trip we definitely are seeing and experiencing more. But it's definitely not all smiles. More than once I've wished we were heading home instead of our next destination. Berlin didn't help at all.
  %hr
  %img{src: '/images/germany/13.jpg'}
  .caption Snow Pippi
  %p
    We did our research and decided to go see the <a href='http://en.wikipedia.org/wiki/Brandenburg_Gate'>Brandenburg Gate</a> and the <a href='http://en.wikipedia.org/wiki/Memorial_to_the_Murdered_Jews_of_Europe'>Memorial to the Murdered Jews of Europe</a>. We also stumbled onto a tip that the Berlin Philharmonic theatre put on a free lunch time concert on Thursdays at 1pm. That was our first stop. We got a late start and so ended up running to make the show. We were blessed with more snow fall and got to experience walking in a city through the snow. It was quite a magical experience. Alas we arrived too late to see the concert. After dusting off the snow flakes and eating a quick sandwich we set off for the gate.
  = video('/videos/germany/04.mp4', '/images/germany/22.jpg')
  %p
    We passed through a big park that was completely snow covered. Someone had attempted to build a snow man earlier in the day and we thought we'd take the opportunity to do the same. It turns out that it's not easy to build the sort you see in movies with the 3 round body segments. We settled for a snow Pippi instead. I did roll a really large segment through the snow straining my back slightly under it's weight. We left the park with wet gloves and frozen toes but we'd played in the snow!
  %img{src: '/images/germany/16.jpg'}
  %p
    We took some photos of the gate and read some plaques nearby and even followed the cobblestones that mark where the wall used to stand for a little way. Right near the gate is the <a href='http://en.wikipedia.org/wiki/Reichstag_building'>Reichstag building</a> that houses some of Germany's government. It's an impressive building. Looking at it I remembered that Germany has come a long way since the 2nd world war. I was recently reading an article about the current state of South Africa and how Germany made a lot of progress in 20 years. It's come a long way. I can only hope that South Africa eventually starts heading in the right direction.
  %p
    We didn't see the Jewish memorial but we did head to <a href='http://en.wikipedia.org/wiki/Checkpoint_Charlie'>Checkpoint Charlie</a> which is where one would leave the American sector of Berlin when it was still divided. You can get your passport stamped there but it costs a pretty penny so we settled for some photos.
  %img{src: '/images/germany/17.jpg'}
  %p
    By this stage we were getting a little cold and grumpy and started on our way back home. We walked a long way from where we got of the tram (<a href='http://en.wikipedia.org/wiki/Alexanderplatz'>Alexanderplatz</a>) and decided to head back there. On the way we stopped at a coffee shop for some coffee that refreshed us for a couple of blocks. We decided to taste some local beer a little while after that and turned into <a href='http://www.gittis-bierbar.de/'>Gitti's Bierbar</a>. As we stepped in the whole bar went quiet and everyone looked at us. I felt really out of place. The barman came over quickly though and once I said we wanted beer he asked how big should the glass be. The room settled down quickly when I showed him 'a big one'. The bar had a lot of foreign currency on it's the wall but we didn't see any South African Rand notes so we donated some. If you're ever in Berlin go check if they put it up. We actually stopped at another pub on the way home (I told you it was a long walk) though this time it was for a toilet break. To avoid paying for the toilet we bought beer instead.
  %hr
  %p
    That was really all we did in Berlin. The <a href='https://www.airbnb.com/rooms/3525912'>apartment</a> itself was great. It was a lot bigger than anything else we've seen. Each room wasted heated in a different manner. The kitchen and living room had gas heaters, the bathroom had an electric heater and the bedroom had a coal stove! I enjoyed 'making fire' every morning and evening. We really got value for our money there and I'd recommend it to anyone.
  %img{src: '/images/germany/19.jpg'}
  .caption We got some Currywurst at this place. Delicious!
  %p
    I think in Berlin we realised that we're not on a tour but we're really living here and occasionally doing tourist things. We spent a lot of time in the apartment working and just living. We cooked a lot at home (on a gas stove!) and started watching House from the beginning again on Netflix. I constantly feel guilty for not doing enough touristy things but for the amount of time we're here and with the budget we've got we can't constantly be doing things. The snow was the highlight of Berlin for me. It joins Milan on my list of cities I don't think I'll return to. Prague on the other hand is amazing! I'll tell you about it next time.
