---
title: Brussels
header_image: 'belgium/01.jpg'
kind: article
posted: 2015/01/17
tags: ['travel', 'beer', 'geek']
country: 'Belgium'
---

.body-text
  %p
    Bonjour! Nous sommes à Bruxelles! Let me tell you, travelling is exhausting. The first few nights we spent here we were asleep by 8pm. We've been meaning to post an update for some time now but we've been so busy! On my first day back at work (Monday) I hardly got any work done as I had to deal with all the admin I'd been putting off over the holidays and I've been playing catch up ever since. So far we've had no down time. If we're not out touring or working we're thinking about where we're going next. At least that's settled and our next 15-20 days are decided. We'll be heading to Berlin with a stop over on the way in Cologne and then Prague and perhaps on to Budapest. All along we wanted to play it by the seats of our pants and had we had a full itinerary before hand we would never have gone to Budapest so that's a definite advantage. I will re-iterate though that we're constantly having to think about where we'll go and how we'll get there which leads to very little time to relax. We can relax back in South Africa. Now, Brussels!
  %hr
  %img{src: '/images/belgium/02.jpg'}
  .caption "Isn't <i>THAT</i> our plane?"
  %p
    Our flight was as to be expected: long and uncomfortable. We flew with Emmirates via Dubai. Once again I ended up spending most of the first flight watching movies and most of the 2nd flight trying to get some sleep but failing. Our layover in Dubai was uneventful. I got a cup of Starbucks coffee and we both showered.
  %img{src: '/images/belgium/03.jpg'}
  .caption Airport travelators are a blessing after long flights.
  %p
    We did have to use the airport train to move between terminals though and I found that quite fun. For Karin's birthday I wanted to get her a bottle of her current favourite fragrance but held off thinking it might be cheaper at the Dubai airport duty free area. It wasn't. We really didn't have much time to do anything there. The layover was supposed to be 3 hours but somehow the time really flew.
  %img{src: '/images/belgium/05.jpg'}
  .caption Our amazing benefactor Pieter Bester
  %p
    We were met at the Airport by Karin's uncle Pieter and for the rest of the afternoon we were spoilt. Prices of everything in Brussels are quite high compared to Cape Town so our eyes were big when we were taken to the Groote Markt and treated to waffles, beer and a traditional Belgian meal of muscles and chips. We stopped at Mannekin Pis to say hi and take a photo and then ee were taken to <a href='http://deliriumcafe.be/'>Delerium Café</a> for our first Belgian beer. It's an awesome pub and I reckon if it were in Table View it would be a regular hang out. At one time the pub stocked around 2000 beers but they've since lost count.
  %img{src: '/images/belgium/04.jpg'}
  %p
    They don't hold back on the muscles here and we each received a pot <i>full</i> with garlic. I don't think I've ever seen so many muscles on one table before. We ate till we were stuffed and then went looking for our <a href='https://www.airbnb.com/rooms/1391608'>accommodation</a>. At this stage I had no internet on my phone so I was no help. We found the place after circling it a few times and dropped our bags off before heading to a super market for some essentials (coffee) and then back home to bed.
  %hr
  %p
    The <a href='https://www.airbnb.com/rooms/1391608'>apartment</a> itself is lovely. I've been looking for accommodation through <a href='http://www.airbnb.com'>AirBnb</a> as generally it's cheaper than hostels. The place we've been staying in in Brussels is a gem. We stretched on our budget for the first place as we wanted to find our feet and live in a central location. We couldn't have asked for better. While renting a room in someone else's apartment has taken some getting used to we're quite comfortable now and we've spent several evenings chatting to our hosts Laurent, Virginie and Julienne about Belgium and South Africa. They are used to tourists and gave us a neat map of Brussels with tips from locals.
  %img{src: '/images/belgium/06.jpg'}
  %p
    The apartment is heated by central heating with radiators in most rooms. I'm not sure when they turn on or off but when they're on the place is toasty. We can't go outside without kitting up in our cold weather gear but inside I've walked around with jeans and a t-shirt already.
  %img{src: '/images/belgium/07.jpg'}
  .caption Don't worry, the worms were to pricey for us.
  %p
    In terms of food we've been eating a variety of meals including the traditional bread, cold meat and cheese as well as well as this awesome frozen meal thing. It's kind of like frozen vegetables but with meat and seasoning already added. Frozen stir fry in a bag. It's also really affordable when compared with other food.
  .collapsible-section.beer
    %p
      We've been supplementing our meals with beer. While I haven't managed to visit the Trappist breweries I have tasted beers from 3 of the 7. I've been terrible at remembering what's what. I know that my favourite of the bunch so far is <a href='http://en.wikipedia.org/wiki/Rochefort_Brewery'>Rochefort</a>. My first beer in the country was a <a href='http://www.leffe.com/en'>Leffe</a>. It's very popular here and has the well known Belgian richness to it. I was a little let down by <a href='http://en.wikipedia.org/wiki/Westmalle_Brewery'>Westmalle</a>. One assumes that Trappist beers should be something special but I really didn't think it was. Karin had a <a href='http://www.vanhonsebrouck.be/en/bieren/kasteelbier-rouge'>Kasteel Rouge</a> last night which was wonderful. It's literally like Cherry Coke beer.
  %img{src: '/images/belgium/08.jpg'}
  .collapsible-section.geek
    %p
      We've been using the metro to get around and I realised again how awesome it would be to live in a city with a solid public transport system. The trains arrive every 8 minutes or so. We got a 10 journey pass for €14 each. A journey includes all transfers within 60 minutes of boarding your first train. We contemplated getting a €7 euro 24 hour pass which offers limitless journeys but in the end I think we made the right choice. There is the equivalent of an <a href='http://en.wikipedia.org/wiki/Oyster_card'>Oyster card</a> but I haven't been able to figure out how to get one.
    %p
      In terms of internet the apartment has decent WiFi (30+Mbps). For out and about I got us each a <a href='http://www.base.be'>Base</a> prepaid SIM card for €15 which came loaded with the same value of credit. We converted €10 into 1GB of data. I've seen 4G speeds about 40% of the time we're out and about. I chose <a href='http://www.base.be'>Base</a> because they have roaming data at €25/GB should we need to keep one of the SIMs active outside of Belgium. Expensive but not world ending. I'll still be on the lookout for better local SIMs as we travel.
  %img{src: '/images/belgium/09.jpg'}
  %p
    One of the attractions we've been to is the <a href='www.mim.be/en'>Music Insturments Museum</a>. The entry fee is €8 if you're over 25 (Damn! Missed it by a year). There are 3 floors of instruments and you're given a little iPod like device that plays the sounds each instrument makes as you get new. It turns out that all flute shaped things sound mostly like a flute and all drum shaped things mostly make drum sounds. I got a little tired after an hour of walking through the museum.
  %img{src: '/images/belgium/10.jpg'}
  .caption That's a Rochefort Trappist beer. Mmmm.
  %p
    The building is decorated in an <a href='http://en.wikipedia.org/wiki/Art_Nouveau'>Art Nouveau</a> and has a restaurant at the top with a great view of the city. I'm glad we went but I'll give it a skip next time.
  %img{src: '/images/belgium/13.jpg'}
  .caption Oh the smiles we had before we saw all the dead people...
  %p
    We also went to St Michael's Cathedral which, as cathedrals go, was impressive. It's the biggest one in the area. Of special note is the treasury which you need to pay €1 to see. I think it was worthwhile as there's a lot of shiny things in there. It's a little creepy that most of them are reliquaries of some saint or another so there are little bone fragments or in some cases entire skulls inside. Old foundations of a Roman cathedral were found when renovations were being done and there is an underground passage which you can go into for €2. We didn't have the coins with us and were already a little creeped out by the place. All the lights in the tunnel were motion activated. If we'd stood still too long down there they would have gone off. *shudder*
  %img{src: '/images/belgium/12.jpg'}
  %p
    Yesterday we made use of our first laundry and grabbed breakfast next door while we waited. We bought these cool little packets of washing detergent that includes softener. You put them in with the clothes and the packet dissolves in the water. Karin tells me that you get them in South Africa but I'm convinced it's European magic. They are damn expensive though.
  %img{src: '/images/belgium/11.jpg'}
  %p
    We saw this horse one day while wondering the streets. It's huge. Apparently they are used to pull fishing nets in the sea. I'm not sure something this muscular is still a horse. Perhaps a mythical beast?
  %hr
  %p
    Karin and I have discovered that I very easily develop a sympathetic accent. Our hosts speak English with a French accent and try as I might I can't help picking up some of the oddities like raising pitch at the end of a sentence. I do it back home to with vernacular language speakers. As we have so many more countries to go I hope I don't come homing sounding like a fruit cake. It only happens when someone speaks English though and as we're heading into lands where English speakers are few and far between I think I'll be alright.
  %p
    I'll fill you guys in on <a href='http://en.wikipedia.org/wiki/Monschau'>Monschau</a> in the next post. Hopefully it's not as long in coming as this one was.
