---
title: Local Tourism - Harties & More Joburg
header_image: 'south_africa/36.jpg'
kind: article
posted: 2015/01/17
tags: ['travel', 'beer']
country: 'South Africa'
---

.body-text
  %p
    We've arrived in Belgium! But before I write about our first experiences here I wanted to quickly jot down what we got up to in Guateng after our return from Umhlanga. I have a mental notebook where I've been keeping track of what I want to share with people and it's full! Instead of just throwing the Gauteng bits away I thought I'd put up a brief writeup.
  %hr
  %p
    Soon after we got back Karin's cousins organised an impromptu braai. It's not often that so many are in one place (although to be fair, Karin was the only cousin present that doesn't reside in Guateng) so a braai was a must. It was an enjoyable evening and, as is to be expected with bring and braais, there was way too much meat. Karin's brother and his girlfriend mentioned that they were going to Hartebeespoort Dam, where her family lives, for the weekend and invited all the cousins along. We jumped at the opportunity for some more local tourism and Lizca, one of the assembled cousins, joined us offering her car to get us there.
  %img{src: '/images/south_africa/27.jpg'}
  %p
    Our first port of call after arriving was a bottle store. I'm not quite sure why. I think getting together with one's current generation of family members independently inspires a sense of freedom and a desire to party or 'kuier' as now we can. That feeling is starting to wear off for me but it's still there and Harties put up a good showing. We had 'melktertjies' (a mixture of condensed milk, ideal milk and vodka with a sprinkling of cinnamon on top) as well as some foreign beers. I stumbled onto a Danish beer called <a href='http://faxe.com/Default.aspx?ID=657'>FAXE</a> that was sold in a 1l tin. I didn't realise that it was 1l at the time, just that it was big, and perhaps more dangerously I didn't realise that it was a 10% alcohol per beer. It tasted great, almost like a light Belgian beer, but along with the melktertjies it left the room a little loose on it's foundations. 10/10. Would drink again.
  %img{src: '/images/south_africa/28.jpg'}
  %p
    The next day we drove out to <a href='http://www.chameleonvillage.co.za/wmenu.php'>Chameleon Village</a> which was called "The Mecca of African Souvenirs".  Now I personally don't care for the colourful beady artwork that gets sold to tourists as African art but foreigners seem to love it.
  %img{src: '/images/south_africa/29.jpg'}
  %p
    Many tour groups stop over here on their way to Sun City and we saw a couple while we were there. The vendors market their wares quite aggressively and the poor tourists aren't used to being harassed. I saw one American gentleman stopping to tell every vendor "Thank you, but no, I already have what I want" but still being lured into several stores as if he didn't think he could just walk away.
  %img{src: '/images/south_africa/30.jpg'}
  %p
    At the markets we tasted some beer at the <a href='http://www.chameleonbrewhouse.co.za'>Chameleon Brewhouse</a>. I regretfully can't remember which beers I liked there. I think one of their lighter ales was quite nice and their amber ale was quite smoky. I really need to finish my beer tracking app.
  %img{src: '/images/south_africa/37.jpg'}
  %p
    Mike (Karin's brother) then took us to the <a href='http://www.alehouse.co.za'>Ale House</a>. On the way we passed over the dam wall which is apparently quite old. The road going over the wall is only wide enough for one way traffic and has a robot on either side to control flow. Being a tourist attraction there were long queues on either side and we got to enjoy the local vendors who pedal their wares to the tourists. The dam water is currently bright green due to an algae outbreak. It's rather strange seeing such a large bright green body of water.
  %img{src: '/images/south_africa/31.jpg'}
  %p
    The <a href='http://www.alehouse.co.za'>Ale House</a> itself was really great and I wish we could have spent more time there. They sell pizza and beer but as we were pressed for time we only tried the latter. It's pretty much just a clearing in the veld with some buildings and tables set out for the patrons. It's the sort of place that hosts hippie solstice festivals. They brew Irish style ales which are a little flatter than what South Africans are used to. On the day we were there they only had two brews. Mike said they sometimes have up to eight. The two we had were very interesting and very different from what I'd had before. One was quite spicy with a buchu flavour and the other very light though it was dark in colour. I'm not sure what they were called.
  %img{src: '/images/south_africa/32.jpg'}
  %p
    We got Lizca home in time and ended up riding the Gautrain to get back home ourselves. We ended the night of by making some home made pizza.
  %hr
  %img{src: '/images/south_africa/33.jpg'}
  %p
    The other noteworthy activities were all culinary. We ate at a Thai food place at Monte Casino after watching a musical fountain performance with one of my friends and the night after we went to Doppio Zero for some coffee and cake. I ordered a lime velvet cake which didn't taste very limey but was still delicious.
  %img{src: '/images/south_africa/35.jpg'}
  %p
    Our last outing was to <a href='http://www.luciospizzeria.co.za'>Lucio's</a>! We've been going there for years for their special cal zone pizza. They also make a great sangria. We'd actually eaten twice already before going there but once the cal zone was in front of me I couldn't resist eating all of it. The restaurant has interesting pictures on the walls and a great outdoor balcony area.
  %p
    That wraps up the South African leg of our tour. I'm lying in Brussels as I write this and we're about to go explore the city. It's COLD! A minimum of 1ºC and a maximum of 5ºC. Karin said perhaps as it's so cold we should explore another day. The weather forecast for tomorrow is maximum 4 and minimum 1 and it just gets colder as the week goes on. So out we go!
