---
title: Local Tourism - Joburg & Natal
header_image: '18.jpg'
kind: article
posted: 2014/01/11
tags: ['travel', 'beer']
---

.body-text
  %p
    Aaaahhh! Four nights left! Typing that made my heart rate increase a little. Take off is around the corner and a lot has happened since we left Cape Town. Last time I wrote about getting the apartment ready and the all the drama it entailed. In the mean time we've been squeezing in as much local tourism as we can. When we left Cape Town I felt like our travels had begun and so since then I've been jumping opportunities to visit any picturesque or interesting places along our road.
  %p
    Our first stop was Bloemfontein where we simply took some time to recover and spend time with my family. We really didn't stay long as we arrived a day later than expected and we had a hard deadline to leave as my family was heading off on their own holiday. After a couple of days we bid farewell and got a lift to Kroonstad where my brother-in-law collected us and whisked us off to JHB and very soon after out first touristy outing.
  %p
    Being from Cape Town where the craft beer flows freely and the hipsters are abundant, it was decided we should visit the Neighbourgoods Market in downton Braamfontein.
  %img{src: '/images/14.jpg'}
  .caption The Baamfontein Skyline
  %p
    The market felt like a little piece of home right here in the city of gold. While there weren't as many brews available as in the Cape, Johannesburg put up a good show. We tasted the award winning "best burger in town" (afraid <a href='http://iyoburgers.co.za/'>Inside and You're Out</a> still takes the cake), ate a Belgian waffle (we'll compare in a couple of days), drank some fiery ginger beer (of the normal non-alcoholic kind) and looked at all the 'pretty things'. I also saw the biggest batch of payela I'd ever seen being prepared.
  %img{src: '/images/15.jpg'}
  .caption Seriously, the payela pan was huge!
  %p
    We were entertained by a crew of singing chefs preparing Cajun chicken dishes: "The queue is empty? The queue is empty! Stomachs empty? Stomachs empty. The chicken is good! Awé!". All in all a very enjoyable morning and highly recommended, especially if you're hungry.
  %img{src: '/images/16.jpg'}
  .caption "Man enjoying food whilst tweeting."
  %p
    After satisfying hunger and thirst we wondered around the area popping into the various shops that have opened. It seems there's a revival happening in Braamfontein. I recall waiting outside on the street from about 2am for the <a href='www.toms.co.za'>TOMS</a> music sale several years ago. The last time we queued the area was getting quite scary. Now it's like a completely different place with a vibrant 'hipster' culture.
  %img{src: '/images/17.jpg'}
  %blockquote "We use disposable cameras as a metaphorical brush to write our own futures." - <a href='www.iwasshot.com'>www.iwasshot.com</a>
  %p
    One of the interesting things I saw there was an <a href='www.iwasshot.com'>"I was shot in Joburg"</a> shop. I was shot is a program that showcases photography from a group of street children that were given the opportunity to learn from photographer <a href='http://www.bernard.co.za/default.aspx'>Bernhard Viljoen</a>. You can find out more about the program and see some of the photos at <a href='www.iwasshot.com'>www.iwasshot.com</a>.
  %hr
  %p
    We spent Christmas at Natal Spa a little way outside of Vryheid. Every second year Karin's family on her mom's side gets together for a traditional big family Christmas and this was one of those years. The group counted 20 people in total with 12 of those being cousins and partners. It made for an action packed couple of days. We introduced the family to some <a href='http://en.wikipedia.org/wiki/Ultimate_%28sport%29'>Ultimate</a> and ran into a <a href='https://www.facebook.com/GhostUltimateClub'>Ghost</a> player far from home. Natal Spa offers many activities including horse riding, quad biking and paint ball. We partook of all three and some bruises were earned.
  %img{src: '/images/20.jpg'}
  .caption I left the horse riding to the girls to avoid manly discomfort.
  %p
    The highlight was definitely the swimming pools. The resort had several different swimming pools of various temperatures including one very warm pool that was undercover. The roof of the building was a dome which lead to some interesting acoustics. More than once we paddled around on our stomachs singing canons or just making strange sounds to hear the echoes. We found it was an effective way to chase strangers out of the pool without really paying much attention to them, although it could just have been the group of twenty people splashing down into the water that did the job.
  %p
    Each family took a turn to cater for a day. One of the families surprised us each with our own little potjie and wooden stand. We had great fun preparing our own pots. The risk of setting everything alight just enhanced the enjoyment. Since then at least two of the families have repeated the experience and I look forward to the next time we make our little potjies. Unfortunately the pots are quite heavy so they won't be going with us to Europe. :(
  %img{src: '/images/19.jpg'}
  %p
    I think everyone enjoyed the time spent with family and while there were more flies than I've ever seen anywhere in my life Natal Spa kept us entertained. I'm pretty sure that even a remote campsite would be entertaining when you have such a large group of family members together. As long as there's a flat piece of ground and a Frisbee.
  %hr
  %p
    After Christmas a couple of us headed to my dad's place Umhlanga for New Year's. It was an awkward time of year to be there seeing as all of the usual activities were avoided due to the large number of holiday makers. The weather also hindered our attempts at visiting the beach. On New Year's Eve we drove around through pouring rain looking for fireworks and stumbled onto a very reasonably priced Indian restaurant at the <a href='www.suninternational.com/sibaya'>Sibaya casino</a>. Afterwards we tried putting R50 on black on a roulette table only to get shouted at. The minimum bet on the outside was R100. We resorted to playing numbers and quickly lost all our chips.
  %p
    We made our way to <a href='gatewayworld.co.za'>Gateway</a> and watched teenagers partying up a storm at the wave house. After hearing that there was a R400 cover charge we settled down for a drink at the only open restaurant. We saw the new year in making our way to the front of Gateway to look for fireworks. 6/10, will try harder next time. I think the key is either to go all out and attend a trance party or throw your own at home and play L'chaim. Just for once I'd like to start counting down from ten and have a group of people enthusiastically join in. I'll practice several times throughout the night to make sure we get it right when the time comes. :)
  %p
    On the 2nd we drove through to Margate to visit Karin's grandparents. On the way there we stopped at Oribi gorge. The Oribi valley is stunning. There are several view points around the valley and a road that takes you past all of them. We went off-roading in a mature Hyundai Getz.
  %img{src: '/images/22.jpg'}
  .caption A steel cable strung across the gorge is visible in the background.
  %p
    The main attraction of the gorge is a waterfall with a 100m drop into the valley below. Somehow a steel cable has been strung across the gorge and visitors can pay to take a leap of faith and swing out over the nothingness or elect to take the less exciting zipline slide out across the cable to dangle their feet over the trees.
  %img{src: '/images/21.jpg'}
  %p
    No-one in our group was interested enough in attempting to fly to take the leap. We did however cross a suspension bridge over the gorge. I don't have any photos of that activity because my hands were otherwise occupied holding on for dear life. I do think that the fact that I made it back across without wetting my pants should be applauded. One of the view points is an overhanging rock that makes for great photos for scaring family members and looking like a daredevil. It's not <i>as bad</i> as it looks but I'm glad we never saw the rock from underneath before we climbed onto it.
  %img{src: '/images/23.jpg'}
  .caption Robert: "You're holding on right?" Karin: "With both hands!"
  %p
    After a marvelous lunch of fish and chips with Ouma and Oupa we headed out to the <a href='www.beavercreek.co.za'>Beaver Creek coffee farm</a>. It was the first time I'd seen how coffee grew. I'm pretty sure I knew it grows on trees but now I have photographic proof. The various blends and roasts were interesting enough that we took some home with us for gifts for hosts overseas.
  %img{src: '/images/24.jpg'}
  .caption Coffee grows on trees, I saw it with my own eyes.
  %hr
  %p
    On the beer front Natal is pumping. There are several craft breweries around and many bottle stores stocked both local craft brews as well as some from the Cape and some imports. Definitely a stronger showing than I've seen in Gauteng. We stocked up on arrival and even brought a few bottles back with us. Sadly I haven't made any progress on my beer library app so all I can tell you is that there were good ones and bad ones and some in between, but I was really impressed with the number of different breweries.
  %img{src: '/images/25.jpg'}
  .caption My brother Heinrich embraces Beymax.
  %p
    On a less touristy note, we watched Big Hero 6 (and The Hobbit) at the IMAX at Gateway while we were in Umhlanga and I loved it. I'd been waiting all year for it to come out and I wasn't disappointed. We can look forward to a year of Beymax merchandise. Sadly someone decided that Beymax's head had too much air in it somewhere between our viewing of The Hobbit and Big Hero 6.
  %img{src: '/images/26.jpg'}
  .caption "Who would do such a thing?"
  %p
    Next time I'll write briefly about our time back in Joburg and a trip to Harties (Hartbeespoort Dam, not Hartenbos as I told my mother leaving her a little confused as to why we went all that way for one night). Hopefully we'll get our last packing arrangements sorted tomorrow so we can head to Gold Reef City later in the week before jetting off. Oh my gosh, it's four more nights!
