---
title: Monschau & Durbuy
header_image: 'belgium/19.jpg'
kind: article
posted: 2015/01/27
tags: ['travel']
country: 'Belgium'
---

.body-text
  %p
    Our first trip out of Brussels was to Monschau courtesy of the generous Oom Pieter Bester. Having contact with a local has huge benefits when travelling through a country. Had we not been taken to Monschau we would never have known it existed. Oom Pieter told us that there's a rivalry between Monschau and Durbuy as to which town is the smallest town in Europe though when I spoke to Laurent & Julienne about it they mentioned a different town. I think 'smallest town in Europe' is an accolade that a town awards itself. We have some 'dorpies' that would put both Monschau and Durvuy to shame when it comes to smallness. Regardless, both towns were charming and picturesque.
  %blockquote
    Karin: "So this part is not part of Monschau? Where does it start?"
    <br />
    Oom Pieter: "Wherever it takes to remain the smallest town in Europe."
  %img{src: '/images/belgium/14.jpg'}
  .caption Compare with the chickens from <a href='/posts/local_tourism_gauteng'>Chameleon Village</a>
  %p
    Before entering the town proper (only residents are allowed to drive into the town) we stopped at a crafts market. It was like the German equivalent of Chameleon Village. There is a glass blowery (is that a word?) there where you can watch two glass blowers at work. The furnace literally glowed. The guys would stick their rods into the furnace and retrieve a blob of molten glass and then work it into shapes. There was a rugby field sized hall filled with their works in all sorts of colours. We even found chickens to complement those from Chameleon Village.
  %img{src: '/images/belgium/15.jpg'}
  .caption We found the perfect gift for Mike!
  %p
    Behind the craft market there was also a miniatures museum. Sadly their automated village was undergoing maintenance but there were still hundreds of tiny cars, trains, people and aeroplanes for sale at reasonable prices. We couldn't decide which to buy as a gift so in the end we didn't get any. I was looking for an old VW bus but there were none.
  %img{src: '/images/belgium/16.jpg'}
  %p
    The town itself looks like a fairytale village with wooden beams supporting the walls. I was never sure before whether the brown stripes were just painted on but now I know they're wooden beams. We wandered through the streets popping into little shops selling everything from sweets to scarves to snow globes.  At one of the shops Oom Pieter bought some <a href='http://en.wikipedia.org/wiki/Salty_liquorice'>salted liquorice</a>. While I preferred it over normal liquorice I wouldn't call it delicious. Even the man himself said it's horrible but once you start you get addicted. One was enough for me thanks. Well two in fact, as Karin gave me hers.  Karin bought us some <a href='http://en.wikipedia.org/wiki/Lebkuchen'>Lebkuchen</a>, a (expensive) spicy cookie similar to gingerbread. We took photos at two predetermined locations in the town then headed up a hill to get an overview. Oom Pieter apparently takes photos of any guests he takes out at specific locations and has an album with all the photos. Suffice to say he knew the good spots. One of my friends saw one of the photos on Facebook and immediately recognised the town.
  %img{src: '/images/belgium/17.jpg'}
  .caption You can see the ruin of the tower in the background
  %p
    There's a river that winds through the town so the constant sound of running water permeates everything you do. It's a very pretty river but on the day we were there it was 3ºC outside so the river also looked dangerously cold. It has been our experience thus far that after about 20 minutes in the cold your face goes numb. The other day I noticed how effective our thermal under layer really is when I went a day without it. We'd decided to stay at the apartment for the day so I could work and we could save some Euros and I opted to leave the thermals off. At some stage we needed to go out for something and I immediately felt the biting cold on my legs. It's strange though, most of the time I'm convinced I'm warm right up until the moment I step into a hot shower at which stage I realise my skin is cold to the touch. I think we're getting used to the cold weather now, or as one of Oom Pieter's children puts it: "I didn't get used to the cold, I got used to getting cold."
  %img{src: '/images/belgium/20.jpg'}
  %p
    Back in Monschau, our faces had just gone numb and our fingertips were starting to feel the cold when we decided to climb up a hill to get an overview of the village. There's a nice staircase with a railing to hold on to – if you want to loose your fingers that is. There was icy mud at the first landing where we took our first photos from above and took a rest to enjoy the view. We weren't at the top though so we carried on climbing. Monschau has a castle on one hill and a ruined tower on another. The village lies in a valley between several hills. The hill we were climbing had the tower ruin on top. Sadly we couldn't find a way to get into the tower but it was satisfying, yet frustrating to reach the top where the path just ended. The railing literally ended in the wall of the tower.
  %img{src: '/images/belgium/18.jpg'}
  %p
    By the time we got back down we were a little warmer inside. I noted though that we were unable to 'breathe smoke' on the day. I guess it wasn't cold enough. On the topic of steam and vapour: Yesterday when taking the metro on our way out of Brussels we got rather hot moving our luggage around. When we got into the station I took my beanie and scarf off and Karin told me my neck was steaming. Now you can either read that as it being very cold or more probably as me being really hot. ;)
  %p
    Anyway, we got down and were a little warmer. We headed back to the car and on to Durbuy. Now Monschau is in Germany, just a little ways but definitively in Germany. This meant that Oom Pieter lost cellphone signal and had to drive by instinct. He was mostly right but we were delayed and so arrived in Durbuy, which is definitively in Belgium, a little late. Oom Pieter drives a <a href='http://en.wikipedia.org/wiki/Mercedes-Benz_Vito'>Mercedes Viano</a> which has it's middle seats in a backwards facing position. I was sitting in one of these seats trying to get signal on my phone. Now anyone who's travelled with me knows that working on a phone in a moving vehicle is a bad idea for me. I get carsick. The winding roads around Monschau didn't help. By the time we got to Durbuy we were running late and I was properly green.
  %img{src: '/images/belgium/23.jpg'}
  .caption If you're in Durbuy you really should visit Luca's Café
  %p
    We decided, encouraged by my moaning, to grab something to eat. We didn't have a lot of time in the village as we had dinner plans with Oom Pieter's kids. We wondered around Durbuy's streets passing <i>it's</i> castle, which is privately owned, and decided on a quaint café after popping into several crafty shops and one slightly our of place pirate themed bar. Most of the shops' owners live above their shops and use the ground floor for the shop. The café we ended up (Luca's Café) in used the first floor for the kitchen. It ended up being a serendipitous choice.
  %p
    Oom Pieter treated us to a tapas platter and a soup with some wine. I don't know what wine it was but the first bottle was outstanding and the 2nd was great. Both were French. The food was just as good. We were served with some bread and what we think was <a href='http://en.wikipedia.org/wiki/Foie_gras'>Foie Gras paté</a> to start. The platter consisted of a muscle dish, a prawn dish, a spicy meat dish and an amazing cheese fondue. My stomach is growling just thinking back on the meal. We left satisfied and jolly, my motion sickness properly forgotten.
  %img{src: '/images/belgium/22.jpg'}
  .caption The front facing camera on my potato isn't that great
  %p
    So we didn't see much of Durbuy but we had a wonderful time sharing bread (dipped in cheese) and wine and just chatting. I have no idea what it cost but it was really a meal I'll remember fondly for some time. We made our dinner arrangements and I got to try some more beers. We were still a little full from Durbuy but we met Oom Pieter's kids for the first time and chatted a bit about school in Belgium.
  %hr
  %p
    I'm falling behind again! We've already visited Brugge in the time since I started writing this post and I'd like to tell you all about that as well. But that will have to wait for next time! Au revoir!
