---
title: The Road to Europe
kind: article
header_image: '05.jpg'
posted: 2014/12/22
tags: ['travel']
---

.body-text
  %p
    It's been a grueling couple of months as we've been hurtling towards Christmas and 2015. Things have been running at full steam as we've been preparing our old flat for short term rentals while we're away. Everyone who knows us knows by now that we're leaving for Europe in January but the story behind the trip and the preparations we've had to make before we could leave are a story in and of themselves.
  %img{src: '/images/02.jpg'}
  %p
    The idea of living in Europe arose when we were sitting late one night finishing the last bit of bit of wine in the bottle with some friends. "Why not?" we asked. Why not go live in Europe? All of us had heard stories of working holidays from the previous generation, stories of days picking olives and nights in pubs. We'd been threatening to return together after a tour we went on in 2011 with the Cape Town Youth Choir (then called Pro Cantu), so this sounded like a fullfilment of the plan. I would be able to work remotely from there and keep my job and the others would 'work the fields'.
  %p
    It turns out it's not simple to just go live in Europe for an extended period as a South African. The visa situation is bleak. To secure your visa you need to have €50 per person per day that you'll be over there available in your account when applying. Sadly, the reality of the situation squashed our group dreams a bit. Having R135 000 per couple available to secure a 3 month visa is really difficult.
  %img{src: '/images/04.jpg'}
  %p
    Had it not been for a family connection who was willing to act as an inviting party in Belgium I don't think we'd have been able to get a 90 day visa. To actually live for 3 months there without earning a proper salary is really tough these days. The normal way to tour Europe is to save up enough and go for a shorter period.
  %p
    In fact working remotely is so out of the ordinary that the Belgian consulate in Cape Town had no idea how to treat my case. We're going on a holiday visa which doesn't allow one to work in Europe but as I'm working for a South African company and earning in Rands I am not, for all intensive purposes, working in Europe but rather just spending South African money there. On the 9th of June I asked my boss about it.
  %img.bordered{src: '/images/06.jpg'}
  %p
    And just like that we were off to the races. Up until that point it had all been pie in the sky but once I'd received confirmation that I could work from overseas the excuses for not going shrivelled up. We started planning to for a January departure and seeing if it was viable. Between then and now we've hit a lot of speed bumps but none have derailed us. Even now we're working to see if we can include a UK leg in our journey and the visa complications are quite stressful.
  %p
    But we're going to Europe, that much is certain and we're super excited about that. Next time I'll write about the joys of the flat conversion and all the stress and headaches it caused.
