---
title: The Apartment
header_image: 'south_africa/07.jpg'
kind: article
posted: 2014/01/04
tags: ['travel']
country: 'South Africa'
---

.body-text
  %blockquote You can see the apartment availability and book here: <a href='http://www.myleisuregroup.com/property/The-Sands-AG2/1293'>AG2 The Sands</a>.
  %p
    Yay! We'd decided to go touring in 2015 and we were excited. I put together a rudimentary budget and realised that we'd only be able to eat every 2nd day and that was assuming we wouldn't be paying most of our expenses back home including the apartment we were living in. Even then we'd still be paying for my RA, our medical and life insurance as well as short term insurance and some other things. Enter the allure of holiday letting to make some money, the land of milk and honey where people pay you 5 times your bond payment to live in your apartment. To earn those sorts of rates you need to have a nice apartment and we set to work figuring out what we would need to do to whip our apartment into shape.
  %p
    When it comes to letting in The Cape the closer to Camps Bay you are the more your apartment will go for. Obviously sea views and beachfront are power phrases too. Thanks to some foresight and ingenuity from my mom we have been living in an apartment a block away from the beach.
  %img{src: '/images/south_africa/13.jpg'}
  %p
    While it doesn't have a sea view it does have a rather large garden for an apartment of it's size and this, it turns out, can be quite sought after. When we were looking for accomodation overseas using <a href='http://airbnb.com'>AirBnB</a> I thought that we should use the service to let our apartment when the time came. With Blouberg being a premiere kite surfing destination I just assumed our primary clients would be foreigners coming to SA to get some of the action. Our agents informed us otherwise.
  %p
    When we started down this road we realised that finding a good agent to look after the apartment and holiday renters was crucial. So far we think we found a great team and we've been really happy. They helped us figure out what we'd need to get for the apartment and were able to source everything we didn't get ourselves.
  %p
    While our apartment was suitable for holiday letting there were a couple of obvious things that needed fixing that we'd been putting off. For instance our pipes moaned when a tap was partially open or the toilet cistern was filling. We put off fixing it after being told several times that it would entail breaking out all our pipes and fitting new joints. It turned out to be a single valve that was outside the apartment and easy to replace. Another sore spot for me was our 'garden'.
  %img{src: '/images/south_africa/08.jpg'}
  %p
    Since we moved in Karin wanted to make the garden nice but I reasoned that we wouldn't be living there long enough to invest in it. I was foolish and realise this now. We couldn't leave the garden like it was and expect to receive the rates we wanted to charge. Operation Garden Revolution began. We started off by putting in new grass and irrigation to keep it watered. We used a battery powered irrigation computer so we didn't need to run a power cable out to the unit. With help from friends (who all got pretty wet as the pipe we were tapping into didn't have a shut-off valve) I got a 4 station irrigation setup working. After that we added some beds:
  %img{src: '/images/south_africa/09.jpg'}
  %p
    The garden turned out well and was far simpler than I imagined. I really wish we'd fixed the pipes and the garden earlier. We lived in the place for 4 years with the moaning and all that time we could have had a nice garden and avoided the explanations we'd have to give about our taps. It's a mistake I won't make again. Take the time to fix things around the house now and enoy the time you spend there.
  %p
    At this stage I can't remember the order of everything we did, but I'm pretty sure the painting came after the grass. For 3 days we had painters in the house painting everything that could be painted: ceilings, cornices, walls and doors. Working from home with people moving in and around your house is nearly impossible, especially when home is as small as ours was. The end result though was stunning. Never underestimate the difference painting a ceiling makes.
  %p
    One awesome line of products our agents introduced us to was <a href='http://www.newlifeplastics.co.za/'>the New Life Plastics range of outdoor furniture</a>. The wind is very enthusiastic about it's work in 'Blowberg'. We previously had an outdoor table set with a canvas cover that would literally take off in strong winds. We couldn't leave the canvas on as it became a kite. In the end the weather took it's toll on the set and it died hence we were quite hesitant when the agent mentioned plastic outdoor furniture. My worries were unfounded. The table and benches we got are <i>heavy</i>!
  %img{src: '/images/south_africa/12.jpg'}
  %p
    We got a little certificate with the set saying that over 100kgs of plastic was recycled to make the table. I believe it. There's no way it's blowing away. The finish is great and easy to clean and New Life Plastices gave a life expectancy for the set of around 65 years. I highly recommend this sort of funriture for outdoors.
  %hr
  %p
    The constant work that was being done by the plumbers, painters and grass layers caused havoc in my work life. I think Pippi picked up on the vibe or maybe just all the changes. She seemed quite melancholic over the last few weeks in the apartment.
  %img{src: '/images/south_africa/10.jpg'}
  %p
    Having strangers walzing about and not being allowed to bark at them or even have a little taste must have frustrated her. She gets really nervous when we pack our bags for holidays as she's stayed behind a couple of times. The last few weeks she seemed to be on edge quite a bit.

  %p
    After a month long slog we finally finished all the major work on the apartment and wanted to show it off to our friends. Most of the decor items had been purchased and while we were still waiting for the new linen to arrive we could give a good impression of how the appartment would look. We invited all our friends over to come and enjoy the new garden with us. I got a keg of my favourite beer from <a href='http://www.triggerfishbrewing.co.za'>Triggerfish</a> and we had a braai. I think at one stage we had 26 people in the flat and garden. It was crazy, chaotic and wonderful. There were three different parties going on at the same time: inside, around the braai, and around the corner where some hilarious rounds of L'chaim were played. Our guests took up all the street parking:
  %img{src: '/images/south_africa/11.jpg'}
  %hr
  %p
    As it currently stands it's too early to determine whether short term rentals will be successful. We got the flat into the market in the first week of December which was very late. I believe that through 2015 we'll have at least enough bookings to break even though I hope we'll be able to supplement my income in Europe with some profits. If you asked me now I'd say I'd do it again and that I intend to look into more property of the same nature when we get back. I'll update you with how the year pans out.
  %p Our days in South Africa are running out. We've been spending the time with family and engaging in some local tourism. I'll share what we've been up to in the next post. T-minus 11 days and counting!
